main {
  overflow-y: auto!important;
}

.demo-md-panel {
  min-height: 500px;
}

.demo-dialog-example {
  background: white;
  border-radius: 4px;
  box-shadow: 0 7px 8px -4px rgba(0, 0, 0, 0.2),
      0 13px 19px 2px rgba(0, 0, 0, 0.14),
      0 5px 24px 4px rgba(0, 0, 0, 0.12);
  width: 500px;
}

.demo-dialog-content {
  padding: 0 15px;
  width: 100%;
  background-color: rgba(165,165,165)!important
}

.demo-dialog-content img {
  height: 300px;
  margin: auto;
}

.demo-dialog-button {
  width: 100%;
}

.demo-menu-example {
  background: white;
  border-radius: 4px;
  box-shadow: 0 7px 8px -4px rgba(0, 0, 0, 0.2),
      0 13px 19px 2px rgba(0, 0, 0, 0.14),
      0 5px 24px 4px rgba(0, 0, 0, 0.12);
  width: 256px;
}

.demo-menu-item {
  align-items: center;
  cursor: pointer;
  display: flex;
  height: 48px;
  padding: 0 16px;
  position: relative;
  transition: background 0.15s linear;
  width: auto;
}

.demo-menu-item:hover,
.demo-menu-item:focus {
  background-color: rgb(238, 238, 238);
}

.demo-menu-item.selected {
  color: rgb(16, 108, 200);
}

.fill-space {
  flex: 1 1 auto;
}

*:focus {
  outline: none;
  border: 0;
}

.mdicon {
  -webkit-user-select: none; /* Chrome/Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */
  
  /* Rules below not implemented in browsers yet */
  -o-user-select: none;
  user-select: none;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.inputdemoErrors .inputErrorsApp {
  min-height: 48px; }

.inputdemoErrors md-input-container > p {
  font-size: 0.8em;
  text-align: left;
  width: 100%; }

.amountinput {
  width: 130px;
  padding-right: 10px;
}

.autopurchase {
  margin-left:20px;
}

.enablecheck {
  margin-top: -28px;
}

.tooltipcolor {
  color: rgb(78, 112, 42) !important;
}

.tooltiperror {
  color: red !important;
}

.center {
  text-align: center;
}

*:focus {
  outline: none;
  border: 0;
}

.mdicon {
  -webkit-user-select: none; /* Chrome/Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */
  
  /* Rules below not implemented in browsers yet */
  -o-user-select: none;
  user-select: none;
}

.bg-texture {
  background-image: any;
  background-size: cover;
}

.settingscontent {
  margin-top: -20px !important;
  padding: 0px !important;
}

.autopurchaseswitch {
  margin-left:6px !important;
}

.settingscard {
  background-color: rgb(77, 77, 77) !important;
}

.transactionitem {
  background-color: rgba(255, 255, 255, 0.15) !important;
}

div[id*='menu_container_'] {
  margin-left: -200px;
  margin-top: 20px;
  min-height: 150px;
}

.menucontent {
  min-height: 150px;
}

a {
  text-decoration: none;
}

#pagechange {
  color: inherit;
}

.linkcard {
  margin-top: 100px;
}

#bankicon {
  padding-left: 37px;
}

.transactiondivider {
  border-width: 1px;
  border-style: solid;
  opacity: 0.1;
}

.noeditdivider {
  background-color: rgba(136, 136, 136, 0.719);
  color: rgba(136, 136, 136, 0.719);
}

.md-button._md-nav-button{
  text-transform: lowercase;
}

.md-nav-bar, .md-nav-bar > nav, ._md-nav-bar-list, .md-button._md-nav-button{
  line-height: 42px;
  height: 42px;
}

.md-button._md-nav-button {
  padding: 0;
  min-height: 0;
  font-size: 16px;
}